@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/Helvetica_Neue/HelveticaNeueLTStdBd.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-SemiBoldItalic.ttf') format('ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/Nunito/Nunito-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/Nunito/Nunito-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/Open_Sans/OpenSans-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway/Raleway-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway/Raleway-ExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}

:root {
    /*backgrounds*/
    --bg-accent: rgba(20, 21, 50, 100);
    --bg-accent-50: rgba(20, 21, 50, 50);
    --bg-accent-90: rgba(20, 21, 50, 90);
    --bg-accent-95: rgba(20, 21, 50, 95);
    --bg-picture: rgba(186, 184, 184, 100);
    --bg-main: rgba(215, 215, 215, 100);
    /*text*/
    --text-medium: rgba(144, 144, 144, 100);
    --text-unselected: rgba(82, 82, 82, 100);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: var(--bg-main);
    margin: auto;
    max-width: 1200px;
}

nav {
    width: 100%;
    background-color: var(--bg-main);
    position: sticky;
    top: 0;
    z-index: 2;
    padding: .3vw;
    max-height: 100px;
    border-bottom: 2px solid var(--bg-picture);
    /*with or without*/
}

.nav-container {
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    background-color: var(--bg-main);
    padding: .3vw;
}

.logo-container,
.nav-links {
    display: flex;
}

.logo-container {
    flex: 1;
}

.logo-container img {
    margin-left: 10%;
    width: 10vw;
    min-width: 110px;
}

.nav-bar {
    flex: 2;
    white-space: nowrap;
    max-width: 1200px;
    margin-right: 0%;
}

.nav-links {
    justify-content: flex-end;
    list-style: none;
    margin: 10px;
}

.nav-links li {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px max(2%, 5px);
}

.nav-link {
    color: var(--text-medium);
    font-size: min(1.5vw, 20px);
    text-decoration: none;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin: 20px;
    vertical-align: middle;
}

.nav-link:hover {
    color: white;
}

.color-active {
    color: white;
}

.bg-active {
    background-image: url("../images/watercolor-bg-blue.png");
}

.hero {
    display: flex;
    max-height: 590px;
    overflow: hidden;
}

#left-hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: var(--bg-main);
    flex-direction: column;
}

#left-hero::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--bg-main);
    transform-origin: bottom left;
    transform: skew(-20deg, 0deg);
}

#hero-name {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: min(5vw, 50px);
    margin: 10px;
    color: black;
}

#hero-watercolor {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: min(2vw, 20px);
    margin: 10px;
    color: var(--text-medium);
}

#right-hero {
    background-color: var(--bg-picture);
    z-index: -2;
    width: 50%;
    clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
}

#right-hero img {
    width: 100%;
}

main {
    background-color: var(--bg-main);
}

#the-artist {
    background-color: var(--bg-accent);
    color: white;
}

.section {
    text-align: center;
    padding: 2vw 2vw 3vw 2vw;
    /*scroll-margin-top: .05vw;*/
}

.section-header {
    text-align: center;
    margin: 2.5vw;
    padding: .5vw;
    font-size: min(2vw, 30px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: inline-block;
    letter-spacing: .4vw;
}

#works-header {
    margin-top: 0;
}

.with-border {
    border: .3vw solid;
    padding: 1vw 3vw;
}

#the-artist p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: min(1.5vw, 18px);
    line-height: min(2.5vw, 30px);
    max-width: min(80%, 650px);
    margin: .5vw auto 2vw auto;
    text-align: justify;
}

.work {
    text-align: center;
    font-size: 1vw;
    text-decoration: none;
    color: black;
}

.work-title {
    font-weight: 700;
}

.work-description {
    font-size: 0.8vw;
    margin-top: 0.2vw;
}

.work-size {
    font-size: 0.8vw;
    margin-top: 0.2vw;
}

.work-text {
    background-color: white;
    padding: 1vw;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.work-chars {
    width: 50%;
    align-items: center;
    align-self: center;
    text-align: left;
    margin-left: .5vw;
}

.work-descriptions {
    align-items: center;
    align-self: center;
    visibility: visible;
    font-size: 0.8vw;
    margin: 0.2vw;
    width: 80%;
    text-align: justify;
}

#main-slider {
    margin-top: 1.5vw;
}

.splide__slide img {
    width: 100%;
    height: auto;
}

.splide__slide {
    opacity: 0.3;
    text-align: center;
}

.splide__slide.is-active {
    opacity: 1;
}

#thumbnail-slider {
    margin-top: 10px;
}

#opinions {
    background-color: var(--bg-accent);
    color: white;
}

.opinions-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: min(80%, 1600px);
    margin: auto;
}

.vertical-divider {
    border-right: white 5px solid;
    margin: 5px 1vw;
    border-radius: 50%;
}

.opinions-main {
    flex: 3;
    font-size: 50px;
    text-align: left;
}

.opinion {
    margin: 20px;
    padding: 2vw;
}

.opinions-main p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: min(1.5vw, 18px);
    line-height: min(2.5vw, 30px);
    text-align: justify;
    display: inline-block;
}

p.signature {
    float: right;
    margin: 10px;
}

.toggle-text-btn {
    display: inline-block;
    width: 100%;
    text-align: right;
    color: var(--text-medium);
}

.toggle-text-btn a {
    cursor: pointer;
}

.extra-text {
    display: inline-block;
}

#exhibitions .section-header {
    color: var(--bg-accent);
}

#exhibitions {
    width: fit-content;
    margin: auto;
}

.exhibitions-container {
    display: flex;
    flex-direction: column;
    color: black;
}

.exhibitions-title {
    font-size: min(1.5vw, 25px);
    width: 100%;
    text-align: left;
    margin: 1.5vw 0;
    margin-top: 2.5vw;
    margin-left: 1.7vw;
    font-weight: 700;
}

.exhibitions-main {
    border-left: white .1vw solid;
}

.exhibition {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: pre;
    margin: .5vw;
}

.first-exhibition {
    margin-top: 0px;
}

.last-exhibition {
    margin-bottom: 0px;
}

.exhibition-year {
    font-size: min(1vw, 18px);
    margin-left: 1.5vw;
}

.exhibition-name {
    font-size: min(1.2vw, 20px);
}

.exhibition-circle {
    background-color: white;
    border-radius: 50%;
    height: .5vw;
    width: .5vw;
    margin-left: -.8vw;
}

footer {
    background-color: var(--bg-accent);
    color: white;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: white;
}

.arrow-top {
    font-size: min(1.2vw, 16px);
}

.back-to-top {
    font-size: min(1.2vw, 16px);
    margin: .2vw auto 1vw auto;
}

.copyright {
    font-size: min(1.2vw, 16px);
    margin: .5vw;
    font-weight: 700;
}

.author {
    width: 100%;
    text-align: right;
    font-size: min(1.2vw, 16px);
}