*.psd
*.fig
*.xd
*.zip
*.rtf
*.docx
images/Firma limpia.jpg
images/índice Limpia.jpg
images/índice_Limpia-removebg-preview.png
images/NicePng_hair-png_17964.png
images/watercolor-blue.png
*.xcf
*.sketch
